@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Azure App Service</h1>
    <h1>testing1234</h1>
    <h1>another change</h1>
    <h1>let us know when done</h1>
    <h1>test again</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
